<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6">
                <input id="chat-input" type="text"></input>
            </div>
            <div class="col-lg-6">
                <div id="messages"></div>
            </div>
        </div>
    </div>
</div>
